<div class="footer white">
    <div class="page-container white">
	    
	<a href="/terms" class="white">{{copy.landing.terms}}</a> 
	<div class="devider"></div>
	<a href="/jobs" class="white">{{copy.landing.courier}}</a>	
		 
		 
	 <ul class="pull-left list" style="text-align: left">   
	 <li class="white ltr"> <i class="material-icons white" style="top: 7px; position: relative; right: 5px">email</i> hello@tatilan.com</li> 
	 <li class="white ltr top-margin-10"> <i class="material-icons white"  style="top: 7px; position: relative; right: 5px">near_me</i>https://telegram.org/tatilan
	 </ul>
 
	</div>
   
</div>