<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <title>Tatilan</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tatilan</title>
    <link type="text/css" rel="stylesheet" media="all" href="../css/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="../css/bootstrap/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="../css/bootstrap-overrides.css">
    <link type="text/css" rel="stylesheet" media="all" href="../css/common.css">
    <link type="text/css" rel="stylesheet" media="all" href="../css/carousel.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/lib/ngGallery/src/css/screen.css">
    <link rel="stylesheet" type="text/css" href="/lib/ngGallery/src/css/ngGallery.css">
    
