<h3>{{copy.registration.photosTitle}}</h3>
<p>{{copy.registration.photosTitleDetails}}</p>
<div class="top-margin-30">
    
    
    <div class="white-box pull-right" style="padding-right: 10px; position:relative">

        <div class="spinner file-overlay" ng-if="fileOverlay">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    <input type="file" class="inline" id="fileSelector" file-model="myFile"/>
        <div class="drop-box  btn btn-large btn-frame file-upload inline" ng-class="{'disabled': !myFile}" ng-click="uploadFile()"><i class="material-icons">cloud_upload</i> <span>{{copy.registration.uploadPhoto}}</span>
        </div>
</div>
    <div class="clearfix"></div>
    
  <!--<form ng-controller="fileUploadCtrl" name="form" method="post" enctype="multipart/form-data" action="/upload">
      
      <div class="drop-box  btn btn-large btn-frame file-upload"><i class="material-icons">cloud_upload</i> <span>{{copy.registration.uploadPhoto}}</span>
         <input type="file" class="upload" id="image" file-model="myFile" onchange="angular.element(this).scope().uploadFile()" />

          
      </div>
    <div ngf-drop="uploadFiles($files)" class="drop-box  btn btn-large btn-frame"
         ngf-drag-over-class="'dragover'" ngf-multiple="true" 
         ngf-pattern="'image/*'"><i class="material-icons">cloud_upload</i> <span>{{copy.registration.uploadPhoto}}</span></div>
    <div class="pull-left gray">1 {{copy.registration.photo}}</div>-->
     
      <!--<div class="drop-box  btn btn-large btn-frame file-upload"
         ngf-multiple="true" 
         ngf-pattern="'image/*'"><i class="material-icons">cloud_upload</i> <span>{{copy.registration.uploadPhoto}}</span>
         <input type="file" class="upload" id="image" ng-model="uploadBtn" onchange="angular.element(this).scope().s3Upload(this)" />

          
      </div>
  </form>-->
</div>
<div class="top-border-gray top-margin-30" style="padding-top: 25px">
    <img id="preview"></div>
<div>
    <ul class="list photo-parent">
        <li class="col-sm-4 image-parent" ng-repeat="pic in pictures" data-picture-url="">
            <i ng-if="!pic.isCover" class="material-icons remove-icon white" ng-click="removeImage(pic)" >delete</i>
            <div><img ng-src="/img/property/{{pic.propertyId}}/{{pic.id}}-thumb.jpg" class="photo-size"/></div>
            <div style="padding: 10px;">
                <div ng-click="makeCover(pic)" class="pointer">
                    <i ng-if="!pic.isCover" class="material-icons" style="color: #ccc">radio_button_unchecked</i>
                    <i ng-if="pic.isCover" class="material-icons brand-color" >radio_button_checked</i>
                    <span style="position: relative; right: 4px; top: -8px;">{{copy.internal.coverPic}}</span>
                </div>
                <textarea placeholder="{{copy.registration.photoHighlight}}" 
                          class="form-control" 
                          ng-model-options="{ debounce: 950 }"
                          ng-model = "pic.description"
                          ng-change="saveDescription(pic)" ></textarea>
            </div>
        </li>
        
    </ul>
    
</div>
<div class="clearfix"></div>

 <div class="top-margin-30 top-border-gray" style="padding-top: 25px">
        <a href="#/basics">{{copy.registration.previous}}</a>
            <button class="btn btn-primary pull-left btn-lg" ng-click="$parent.nextPage('pricing')">{{copy.registration.next}}</button>      
        </div>