<div class="panel">
    <div class="panel-header">{{copy.internal.editPassword}}</div>
    <div style="padding: 20px 25px;">
        <ng-form name="resetPass">
        <div class="red" ng-if="errorMessage">{{copy.internal.passwordErrorMessage}}</div>
        <div class="row">
        <div class="col-sm-3 left-align"><label for="oldPassowrd">{{copy.internal.oldPassword}}</label></div>
        <div class="col-sm-9">
            <input type="password" 
                   class="form-control" 
                   name="oldPassword" 
                   ng-model="password.old" 
                   required
                   style="width: 220px"/></div>
        </div>
        <div class="row">
        <div class="col-sm-3 left-align"><label for="firstName">{{copy.internal.newPassword}}</label></div>
        <div class="col-sm-9">
            <input 
                   type="password" 
                   class="form-control inline" 
                   name="newPass" 
                   ng-model="password.new" 
                   required
                   style="width: 220px"
                   ng-model-options="{ debounce: 100 }"
                   ng-change="passwordCriteria()"
                   ng-class="{'error': noMatch}"/>  
            <span ng-if="wrongPass" class="red">Please enter correct email address.</span>
        </div>
        </div>
        <div class="row">
         <div class="col-sm-3 left-align"><label for="firstName">{{copy.internal.confirmNewPassword}}</label></div>
        <div class="col-sm-9">
            <input 
                   type="password" 
                   class="form-control inline" 
                   name="firstName" 
                   ng-model="passwordConfirm" 
                   required
                   style="width: 220px"
                   ng-class="{'error': noMatch}"
                   ng-model-options="{ debounce: 100 }"
                    ng-change="chekPassword()" />  
            <span class="red" style="margin-right: 5px" ng-if="noMatch">{{copy.internal.passwordNoMatch}}</span>
        </div>
        </div>
            
            </ng-form>

            <div class="top-margin-30 top-border-gray" style="padding-top: 25px;">

            <button class="btn btn-primary  btn-lg" ng-click="changePassword()" ng-disabled="noMatch">{{copy.internal.save}}</button>      
        </div>
    </div>
</div>
