<div class="col-sm-12 row-space-2 col-md-4">
    <div class="reservation-parent">
    <div class="listing-img">
        
        <a class="media-photo media-cover" target="listing_5468286" href="/rooms/5468286?checkin=04%2F14%2F2016&amp;checkout=04%2F23%2F2016&amp;guests=2&amp;s=X0bC1f_3">
                  <div class="listing-img-container media-cover text-center">
                      <img data-should-async-load="true" data-picture-count="21" alt="Bright &amp; Beautiful 2-Room Studio" class="img-responsive-height" src="https://a0.muscache.com/im/pictures/22395554/cf24ab7e_original.jpg?aki_policy=x_medium" data-current="0" itemprop="image">
                  </div>
                </a>
        
    </div>
    <div class="panel-card-section">
                <div style="padding: 0 30px 30px 30px">
                    <a class="media-photo-badge card-profile-picture card-profile-picture-offset" href="/users/show/37163301">
                      <div class="media-photo">
                        <img alt="Juan from Berkeley" src="https://a0.muscache.com/im/users/2058874/profile_pic/1371750162/original.jpg?aki_policy=profile_medium">
                      </div>
                    </a>
                    <h3 class="center">کلاردشت</h3>
                  <h3 class="h5 text-truncate row-space-top-1 gray center gray" itemprop="name" title="Amazing studio, stunning yard.">
                      Amazing studio, stunning yard.
                  </h3>
                  <div class="text-muted listing-location text-truncate center">
                    <span>
                      <a class="text-normal text-muted" href="#">
                        Entire home/apt · 
                      </a>
                    </span>
                  </div>
                    
                  <div class="top-margin-20 top-border-gray center" style="padding-top: 15px">
                    <a href="#/trips/details" class="h4 ">{{copy.internal.bookingDetail}}</a>  
                  </div>
                    <div class="top-margin-20 top-border-gray center" style="padding-top: 15px">
                    <a href="#" class="h4 ">{{copy.internal.recipt}}</a>  
                  </div>
                </div>
            
              </div>
    </div>
</div>