<div class="page-container">
<div class="panel" style="padding: 30px">
   
    <div class="col-sm-9">
        <h3 style="margin-top: 0"><i class="material-icons" style="position: relative; top: 5px; left: 10px;">add_alert</i>{{copy.internal.newReservationTitle}}</h3>
        <p>
            مهدی زندی درخواست خود را برای ۳ شب از تاریخ ۱۳۹۵ تا ۱۲۹۵ امروز در ساعت ۴:۱۵ فرستاده.
        </p>
    </div>
    <div class="col-sm-3"><button class="btn btn-primary pull-left btn-lg top-margin-10">{{copy.internal.confirm}}</button></div>
    <div class="clearfix"></div>
</div> 
    
<div class="panel" style="padding: 30px">
    <div class="col-sm-4">
        <h2 class="">{{copy.internal.earningsInMonth}}</h2>
        <select>
            <option value="">خرداد</option>
        </select>
    </div>
    <div class="col-sm-6">
        <ul class="list top-border-gray">
            <li  class="top-margin-20">     
                <h4>{{copy.internal.numberOfReservation}}
                    <span class="pull-left">4</span>
                </h4>
            </li>
            <li>    
                <h4>{{copy.internal.numberOfNights}}
                    <span class="pull-left">12</span>
                </h4>
            </li>
            <li>     
                <h4>{{copy.internal.numberOfNights}}
                    <span class="pull-left">1,230,890 {{copy.registration.toman}}</span>
                </h4>
            </li>
            
        </ul>
        <div class="top-border-gray top-margin-20" style="padding-top: 10px;">
            <h5>{{copy.internal.inThisYear}} 3,334,675 {{copy.registration.toman}}</h5>
        </div>
    </div>
    <div class="clearfix"></div>
    
</div>
    
<div class="panel">
    <div class="panel-header">{{copy.internal.transactionList}}</div>
    <div style="padding: 20px 25px;">
        <ul class="list">
            <li class="bottom-border-gray" style="padding: 10px 5px">
                <div class="col-sm-2"><h4 class="margin-0">محمد جواد ظریف</h4><span class="text-muted">{{copy.internal.requestDat}}</span></div>
                <div class="col-sm-4">{{copy.internal.from}} 1396/6/12 {{copy.internal.to}} 1396/06/15</div>
                <div class="col-sm-2">630,890 {{copy.registration.toman}}</div>
                <div class="col-sm-4"><h4 class="green margin-0">{{copy.internal.successfullyCompletted}}</h4><small class="text-muted">{{copy.internal.in}} 1396/6/10 {{copy.internal.paymentSubmitted}}</small></div>
                <div class="clearfix"></div>
            </li>
            
            <li class="bottom-border-gray" style="padding: 10px 5px">
                <div class="col-sm-2"><h4 class="margin-0">محمد جواد ظریف</h4><span class="text-muted">{{copy.internal.requestDat}}</span></div>
                <div class="col-sm-4">{{copy.internal.from}} 1396/6/12 {{copy.internal.to}} 1396/06/15</div>
                <div class="col-sm-2">630,890 {{copy.registration.toman}}</div>
                <div class="col-sm-4"><h4 class="green margin-0">{{copy.internal.successfullyCompletted}}</h4><small class="text-muted">{{copy.internal.in}} 1396/6/10 {{copy.internal.paymentSubmitted}}</small></div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</div>
    
</div>
<div class="clearfix top-margin-30"></div>