<div class="full-overlay">
    <a href="#trips"><i class="material-icons pull-right" style="font-size: 3em; color: #ccc">close</i></a>
    <div class="page-container-medium " style="margin-top: 40px;">
        <h2>{{copy.internal.bookingDetail}} </h2>
        
        <div class="col-sm-12 panel top-margin-10" style="padding: 20px">
            <h3>ویلای زیبا در کلاردشت
                <button class="btn btn-frame pull-left">{{copy.internal.print}}</button>
            </h3>
            
            <div class="top-border-gray top-margin-20" style="padding-top: 20px">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.internal.names}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.internal.destination}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.internal.duration}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.internal.accomodationType}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    
                </div> <!-- end of first row -->
                
                <div class="row top-margin-30">
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.registration.address}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.details.yourHost}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.result.checkin}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-muted bold">{{copy.result.checkout}}</div>
                        <div>
                            احمد بوستانی
                        </div>
                    </div>
                    
                </div> <!-- end of second row -->
                <div class="clearfix"></div>
                <div class="top-border-gray top-margin-30" style="padding-top: 0px">
                    <h3>
                        {{copy.details.prices}}
                    </h3>
                    
                    <table width="100%"  style="border-color:#ccc" class="table-bordered price-table">
                        <tr>
                            <td class="col-sm-4">6 {{copy.internal.night}}  120,000  X</td>
                            <td class="col-sm-8">720,000 {{copy.details.price}}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-4">{{copy.details.cleaningFee}}</td>
                            <td class="col-sm-8">50,000 {{copy.details.price}}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-4">{{copy.internal.tatilanFee}}</td>
                            <td class="col-sm-8">50,000 {{copy.details.price}}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-4">{{copy.internal.total}}</td>
                            <td class="col-sm-8">950,000 {{copy.details.price}}</td>
                        </tr>
                    </table>
                    
                    <table width="100%"  style="border-color:#ccc" class="table-bordered price-table top-margin-30">
                        <tr>
                            <td class="col-sm-4">{{copy.internal.paymentReceived}} 1395/4/16</td>
                            <td class="col-sm-8">950,000 {{copy.details.price}}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-4">{{copy.internal.balance}}</td>
                            <td class="col-sm-8">00 </td>
                        </tr>
                        
                    </table>
                </div>
            
            
            
            </div>
        
        </div>
    </div>
</div>