<% include partials/header.ejs%>
<% // include file specific css files here %>

    <link type="text/css" rel="stylesheet" media="all" href="../css/internal.css">
    <link type="text/css" rel="../lib/angular-ui-bootstrap/src/datepicker/datepicker.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body ng-app="tatilan" ng-controller="password" id="internal" ng-style="style()" resize ng-cloak>
<div class="main-parent">
    <% include partials/nav.ejs %>
   <div class="page-container center" style="max-width: 800px; margin-top: 50px">
    <% if(typeof error == 'undefined'){ %>

    <h2>{{copy.internal.editPassword}}</h2>
    <div style="padding: 20px 25px;" ng-if="!passChangeSuccess">
        <h4 ng-if="passChangeFale" class="red"  style="margin: 0 40px 30px auto">{{copy.internal.passChangeFale}}</h4>
        <ng-form name="resetPass">
	        <div class="red" ng-if="errorMessage">{{copy.internal.passwordErrorMessage}}</div>
	        <div class="row relative">


	            <input 
	                   type="password" 
	                   class="form-control inline" 
	                   name="newPass" 
	                   ng-model="password.newPassword" 
	                   required
	                   style="width: 220px"
	                   placeholder="{{copy.internal.newPassword}}"
	                   ng-model-options="{ debounce: 550 }"
	                   ng-change="passwordCriteria()"
	                   ng-class="{'error': noMatch}"/>  
	            <span ng-if="wrongPass" class="red" style="margin-right: 8px; position: absolute; top: 5px;" >{{copy.error.passwordCriteria}}</span>

	        </div>
	        <div class="row top-margin-20 relative">
	 

	            <input 
	                   type="password" 
	                   class="form-control inline" 
	                   name="firstName" 
	                   ng-model="password.retype" 
	                   required
	                   placeholder="{{copy.internal.confirmNewPassword}}"
	                   style="width: 220px"
	                   ng-class="{'error': noMatch}"
	                   ng-model-options="{ debounce: 550 }"
	                    ng-change="chekPassword()" />  
	            <span class="red" style="margin-right: 8px; position: absolute; top: 5px;" ng-if="noMatch">{{copy.internal.passwordNoMatch}}</span>
	        </div>
            
        </ng-form>

        <div class="top-margin-30 center" style="padding-top: 25px;">

        <button class="btn btn-primary  btn-lg" ng-click="changePassword()" ng-disabled="noMatch">
        	<span ng-if="!spinner">{{copy.internal.save}}</span>
        	<div class="spinner" ng-if="spinner" style="margin-top: 3px">
            	<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>	
			</div>
        </button>      
      </div>
    </div>
    <% }else{ %>
	  <div class="center top-margin-30">
	  
	  	<i class="material-icons red" style="font-size: 80px">warning</i>
	  	<h2>{{copy.internal.pageNotFound}}</h2>
	  </div>  
	    
	<% } %>
</div>

<!-- success message -->

	<div ng-if="passChangeSuccess" class="center">
	
		<h2 class="center"><i class="material-icons green" style="font-size: 70px">check_circle</i></h2>
		<h3 class="green"  style="margin: 10px 0 30px auto">{{copy.internal.passChangeSuccess}}</h3>
		
		 <button class="btn top-margin-20" data-toggle="modal" data-target="#signing" ng-click="selectModal('signin')">
            {{copy.internal.enterToSystem}}   	
		 </button> 
	
	</div>
	
	
	

</div>
<div ng-class="{'fix-footer':fixFooter}">
<% include partials/footer.ejs%>
    </div>
    <script>

        window.user = <%- JSON.stringify(user) %>;
        window.token = <%- JSON.stringify(token) %>;

        
    </script>
    
<% include partials/jsfiles.ejs%>
    <% // include file specific js files here %>
    <script type="text/javascript" src="../js/routes/internal.routes.js"></script>   
    <script type="text/javascript" src="../js/controllers/signing.client.controller.js"></script>
    <script type="text/javascript" src="../js/controllers/password.client.controller.js"></script>
   
</body>


</html>